.addFolder{
    margin-left: 40px;
    box-shadow: 0px 0px 0px 2px #ffffff;
	background:linear-gradient(to bottom, #02c399 5%, #237a67 100%);
	background-color:#02c399;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:8px 20px;
	text-decoration:none;
    margin-bottom: 8%;
} 

.addFolder:hover{
    background:linear-gradient(to bottom, #217260 5%, #02c399 100%);
	background-color:#237a67;
}

.addFolder:active{
    position:relative;
	top: 1px;
}

.folderList{
    display: flex;
    float: left;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(69, 123, 157);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}